<%- layout("layouts/boilerplate") %>

<style>
    #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }

    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }

    .filter p{
        font-size: 0.8rem;
    }

    .tax-info{
        display: none;
    }

    .tax-switch{
        border: 1px solid black;
        height: 3.15rem;
        border-radius: 1rem;
        padding: 1rem;
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        margin-top: 12px;
    }
    .tax-switch:hover {
        border: 2px solid #fe424d;
    }

    @media (max-width: 768px) {
        #filters-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #filters {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Responsive grid */
            padding: 5px;
        }

        .filter {
            margin: 5px; 
            padding: 1rem; 
        }

        .tax-switch{
            display: flex;
        border: 1px solid black;
        height: 3rem;
        width: 11.5rem;
        border-radius: 1rem;
        padding: 4px;
        font-size: 0.8rem;
        text-align: justify;
        align-items: left;
    }
    .tax-switch:hover {
        border: 2px solid #fe424d;
    }

    .search-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    }

    .search-inp {
        flex: 1;
        border-radius: 25px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .search-btn {
        border-radius: 25px;
        padding: 0.5rem 1rem;
    }

    /* Adjust navbar items for mobile */
    .navbar-toggler {
        display: flex;
        align-items: center;
    }

    .navbar-toggler + .nav-link {
        margin-left: 10px;
    }

}


</style>
<div id="filters">
    <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farm</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
    </div>

    <div class="tax-switch">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
        </div>
    </div>

</div>


<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for (let listing of allListings) { %>
        <a href="/listing/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;" />
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b> <br>
                        &#x20B9;
                        <% if (listing.price) { %>
                            <%= listing.price.toLocaleString("en-IN") %> /night
                            <i class="tax-info"> &nbsp;&nbsp;+18% GST</i>
                        <% } else { %>
                            Price not available
                        <% } %>
                    </p>
                </div>
            </div>
        </a>
    <% } %>
</div>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () =>{
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo){
            if(info.style.display != "inline"){
                info.style.display = "inline";
            } else{
                info.style.display= "none";
            }

        }
    })

    document.addEventListener("DOMContentLoaded", function() {
    let taxSwitch = document.querySelector(".tax-switch");
    let filtersContainer = document.querySelector("#filters-container");

    if (window.innerWidth <= 768) {
        filtersContainer.after(taxSwitch); // Move tax-switch below filters
    }
});


</script>