    <% -layout("layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-5 mt-3">
            <h2><b>Listing Details:</b></h2> 
        </div>
    <div class="card col-5 offset-4 show-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
        <p class="card-text">
            <b><%= listing.title %></b> <br>
            <%= listing.description%> <br>
            <%if(listing.price){%>
                &#x20B9; <%= listing.price.toLocaleString("en-IN")%> <br>
            <%}%>
            <%= listing.location%> <br>
            <%= listing.country%>
        </p>
    </div>
    </div>
    <br>
    <div class="btns offset-4">
        <a href="/listing/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-0 add-btn">Edit</a>

        <form action="/listing/<%= listing._id%>?_method=DELETE" method="post">
            <button class="btn btn-dark offset-2">Delete</button>
        </form>
    </div>
</div>
</div>
